.block {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-lg);
  margin: 0 auto;
  padding: var(--spacing-lg);
  background-color: var(--color-card);
  background-blend-mode: overlay;
  box-shadow: 0 4px 30px var(--color-card);
  -webkit-backdrop-filter: blur(16px) saturate(140%);
  backdrop-filter: blur(16px) saturate(140%);

  border-radius: var(--radius);
  overflow: hidden;

  & .info {
    padding: var(--spacing-lg) var(--spacing-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    position: relative;

    img {
      display: block;
      position: absolute;
      transform: translate(-50%, 0%) scale(1.5);
      filter: drop-shadow(0 0 4px var(--color-primary));
    }

    h2,
    p {
      z-index: 1;
      margin-left: 30%;
      filter: contrast(1.5);
    }

    h2 {
      font-size: calc(var(--font-size-lg) * 1.5);
      font-weight: 700;
      margin-bottom: var(--spacing-md);
      text-transform: capitalize;
    }

    p {
      font-size: calc(var(--font-size-sm) * 1.2);
      text-wrap: balance;
      line-height: 1.5;
    }
  }

  & div[data-slot="contact-form"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);
    background: var(--color-background);

    & form {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-flow: column;
      gap: var(--spacing-sm);

      & :last-child {
        margin-top: var(--spacing-lg);
      }
    }
  }

  @media (max-width: 900px) {
    & {
      grid-template-columns: 1fr;
      padding: var(--spacing-md);
    }

    & .info {
      padding: var(--spacing-sm) var(--spacing-sm) !important;
      width: 50%;
    }

    & .info h2,
    & .info p {
      margin-left: 0;
    }

    & .info,
    & div[data-slot="contact-form"] {
      padding: var(--spacing-lg);
    }

    & .info h2 {
      font-size: calc(var(--font-size-lg) * 1.1);
    }

    & .info p {
      font-size: var(--font-size-sm);
    }

    & .info img {
      /* width: 500px !important; */
      transform: translate(120%, -10%) scale(1.5) !important;
    }

    & div[data-slot="contact-form"] form {
      max-width: 100%;
    }

    & div[data-slot="contact-form"] {
      padding: var(--spacing-sm);
    }
  }

  @media (max-width: 600px) {
    & {
      padding: var(--spacing-sm);
      gap: var(--spacing-md);
    }

    & .info {
      padding: var(--spacing-md) var(--spacing-sm);
      gap: var(--spacing-md);
    }

    & .info h2 {
      font-size: var(--font-size-md);
      margin: var(--spacing-md) 0;
    }

    & .info p {
      font-size: calc(var(--font-size-sm) * 1.1);
      padding: var(--spacing-sm);
    }

    & .info img {
      transform: translate(120%, -10%) scale(1.5) !important;
    }

    & div[data-slot="contact-form"] {
      padding: var(--spacing-sm);
    }

    & div[data-slot="contact-form"] form {
      max-width: 100%;
      padding: var(--spacing-sm);
      gap: var(--spacing-sm);
    }

    & div[data-slot="contact-form"] input,
    & div[data-slot="contact-form"] textarea {
      font-size: var(--font-size-sm);
    }

    & div[data-slot="contact-form"] button {
      font-size: var(--font-size-sm);
      padding: var(--spacing-sm) var(--spacing-sm);
    }
  }
}
